<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CookiesDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.createiq.cookie.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.createiq.cookie.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlRewriteFirst</display-name>
    <servlet-name>urlRewriteFirst</servlet-name>
    <servlet-class>com.createiq.urlrewriting.urlRewriteFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlRewriteFirst</servlet-name>
    <url-pattern>/urlRewriteFirst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlRewriteSecond</display-name>
    <servlet-name>UrlRewriteSecond</servlet-name>
    <servlet-class>com.createiq.urlrewriting.UrlRewriteSecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRewriteSecond</servlet-name>
    <url-pattern>/UrlRewriteSecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstHttpSessionServlet</display-name>
    <servlet-name>FirstHttpSessionServlet</servlet-name>
    <servlet-class>com.createiq.httpsession.FirstHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstHttpSessionServlet</servlet-name>
    <url-pattern>/FirstHttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondHttpSessionServlet</display-name>
    <servlet-name>SecondHttpSessionServlet</servlet-name>
    <servlet-class>com.createiq.httpsession.SecondHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondHttpSessionServlet</servlet-name>
    <url-pattern>/SecondHttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenFirst</display-name>
    <servlet-name>HiddenFirst</servlet-name>
    <servlet-class>com.createiq.hiddenFormFiled.HiddenFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFirst</servlet-name>
    <url-pattern>/HiddenFirst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenSecond</display-name>
    <servlet-name>HiddenSecond</servlet-name>
    <servlet-class>com.createiq.hiddenFormFiled.HiddenSecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenSecond</servlet-name>
    <url-pattern>/HiddenSecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.createiq.LogInOut.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.createiq.LogInOut.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.createiq.LogInOut.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>