<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>002DisplyNames</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.createiq.disply.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Empdata</display-name>
    <servlet-name>Empdata</servlet-name>
    <servlet-class>com.createiq.empdata.Empdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Empdata</servlet-name>
    <url-pattern>/Empdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Studentdata</display-name>
    <servlet-name>Studentdata</servlet-name>
    <servlet-class>com.createiq.empdata.Studentdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentdata</servlet-name>
    <url-pattern>/Studentdata</url-pattern>
  </servlet-mapping>
</web-app>